
canvas{
  display:block;
  vertical-align:bottom;
}




/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-image: url('../img/particle-bg.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.about .section-title {
  text-align: left;
}

.about-text {
  padding-left: 20px;
}

.about-text h1 {
  text-align: left;
  margin-top: 0px;
}

.about-text p {
  padding-top: 7px;
  line-height: 26px;
  letter-spacing: 0.5px;
}

.about-text a {
  margin-top: 30px;
}

.about-img {
  position: relative;
  overflow: hidden;
}

.about-img img {
  position: relative;
  z-index: 2;
}

.about-img-overlay {
  position: absolute;
  bottom: -100px;
  left: 1px;
  z-index: 3;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 59px;
  transition: all 0.5s;
}

.about-img:hover .about-img-overlay {
  bottom: 0;
}

.about-img-overlay .social-icons {
  text-align: center;
  font-size: 22px;
}

.about-img-overlay .social-icons a {
  line-height: 50px;
  margin: 0px 10px;
  color: #fff;
}

.about-img-overlay .social-icons a:hover {
  color: #164E71;
}


/*----------------skills section--------------------*/

.skills {
  background: url("../img/skill-bg.jpg");
  background-size: cover;
}

.skill-container {
  position: relative;
        padding: 100px 0;
}

.skill-heading-area {
  margin-top: 92px;
}

.skill-heading-area h6,
.skill-heading-area h4,
.skill-heading-area p {
  color: #fff;
}

.skill-heading-area .skill-btn {
  margin-top: 35px;
}

.skill-heading-area h4 {
  padding-top: 30px;
  padding-bottom: 20px;
}

.skill-overlay {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: rgb(249, 249, 249);
        padding: 100px 0;
    top: 0;
}

.skills-content .progressbar-area p {
  margin-bottom: 21px;
  font-weight: 500;
  color: #6E6E6E;
  font-size: 15px;
}

.progressbar-area {
  margin-left: 50px;
  margin-top: 30px;
}

.skills .progress-bar {
  background-color: #164E71;  
  position: relative;
  overflow: visible;
  box-sizing: border-box;
  padding-top: 0;
  padding-left: 10px;
  text-align: left;
  color: #fff;
  background-color: #164E71;
  ;
  box-shadow: none;
  font-size: 10px;
  line-height: 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.skill-category {
  max-width: 80%;
  margin: 0 auto;
}

.skills .progress {
  overflow: visible;
  height: 6px;
  margin-top: 10px;
  margin-bottom: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  background: #d7d7d7;
  box-shadow: none;
  font-weight: 400;
  border-radius: 5px;
}

.skills .progressbar-area p {
  margin-bottom: 28px;
}

.skills .progress-bar span {
  position: absolute;
  top: -28px;
  right: -6px;
  display: inline-block;
  min-width: 25px;
  height: 22px;
  padding: 0 8px;
  text-align: center;
  letter-spacing: 0;
  color: #fff;
  border-radius: 30px;
  background-color: #164E71;
  line-height: 21px;
  width: 36px;
}

.skills .progress-bar > span::before {
  position: absolute;
  bottom: -4px;
  left: 12px;
  display: block;
  width: 8px;
  height: 8px;
  content: "";
  transform: rotate(45deg);
  background-color: #164E71;
  ;
}


/*-----------------services section-----------------*/

.services {
  background-color: rgba(234, 234, 234, 0.9);
  text-align: center;
}

.services .services-header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.services .services-content {
  padding: 0 20px;
}

.services .services-content span i {
  font-size: 22px;
  color: #164E71;
  border: 1px solid #164e71;
  padding: 16px;
  border-radius: 31px;
}

.services .services-content .content-title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 28px;
  margin-bottom: 18px;
  color: #333;
}

.service-item {
  background: #f9f9f9;
  padding: 56px 28px;
  margin-top: 28px;
  transition: all 0.5s;
  box-shadow: 0px 0px 10px #EDEDED;
}

.service-item:hover {
  box-shadow: 0px 0px 10px #bcbcbc;
}

.service-item:hover span i {
  color: #fff;
  background: #164E71;
  transition: all 0.5s;
}
.contact {
  background: url("../img/contact.jpg");
  background-size: cover;
}

.contact-item {
  padding: 80px 0;
}

.contact-header {
  padding-bottom: 28px;
}

.contact .location {
  margin: 0 auto;
}

.location h6 {
  color: #164E71;
  padding-bottom: 28px;
}

.location p span i {
  color: #e7e7e7;
  padding-right: 14px;
  padding-bottom: 14px;
  font-size: 22px;
}

form input,
form textarea {
  display: block;
  width: 100%;
  border: 0px;
  padding-left: 14px;
  border: 1px solid #E4E4E4;
}

.contact .section-title {
  color: #efefef;
}

.contact-icon {
  text-align: center;
  color: #164E71;
  background: #f0efef;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 30px;
  line-height: 60px;
  font-size: 20px;
}

.contact-text {
  text-align: center;
  margin-bottom: 56px;
  margin-top: 28px;
  color: #fff;
}

form textarea {
  height: 160px;
  padding-top: 10px;
  margin-top: 20px;
}

form #name,
form #email {
  height: 50px;
}

.contact .submit-btn {
  border: 0;
  width: 125px;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  background: transparent;
  border: 1px solid #fff;
  padding: 10px;
}

.contact .submit-btn:hover,.contact .submit-btn:focus{
  background-color: #fff;
  color: #164E71;
  border-color: transparent;
}

.contact .result {
  color: #fff;
  width: 100%;
  text-align: center;
  line-height: 58px;
}

.result a {
  color: #E98734;
  display: none;
}

.contact-form {
  padding: 0px 50px;
}


/*---------------footer-------------*/

footer {
  padding: 35px 0px;
  background: #333;
}

.copyright p {
  text-align: center;
  color: #ddd;
}
*/-----------------------------*/
.padding-style1 {
  padding: 100px 0;
}
.section-title {
  margin-bottom: 24px;
  text-align: center;
}